{% extends "base.html" %}

{% block content %}
<div id="wrapper">
	
	<p style="text-align: left;"></p>
	<table border="0" style="border-collapse: collapse; width: 100%;">
	<tbody>
		
	<tr style="text-align: left;">
	<td style="width: 100%;">
	<h4><strong>Application requirement:</strong></h4></td>
	</tr>
	<tr style="text-align: left;">
	<td style="width: 100%;">
	<ul>
		<li>Hong Kong Permanent Resident or possesses company employment contract</li>
		<li>Annual household income of no less than HK$180,000 (monthly salary of HK$15,000)</li>
		<li>The minimum allowable wage of Domestic Helper is HK$4,410</li>
		<li>Employers should provide the Helper with suitable accommodation</li>
		<li>Employer shall provide free return air ticket to the Helper</li>
		<li>Fair language abilities for communication</li>
		<li>Both employers and employees must sign the standard 2-year contract (I.D.407)</li>
	</ul>
	</td>
	</tr>
		
	<tr style="text-align: left;">
	<td style="width: 100%;">
	<h4><strong>Domestic Helpers are entitled to:</strong></h4></td>
	</tr>
	<tr style="text-align: left;">
	<td style="width: 100%;">
	<ul>
		<li>Rest day of 1 day each week, excluding official holidays.</li>
		<li>Statutory holidays of 12 days per annum.</li>
		<li>Free medical care;</li>
		<li>Paid sick leave of 2 days per month in the first year;</li>
		<li>Severance payment</li>
	</ul>
	</td>
	</tr>
		
	<tr style="text-align: left;">
	<td style="width: 100%;">
	<h4><strong>Reason for termination:</strong></h4></td>
	</tr>
	<tr>
	<td style="width: 100%;">
	<ul>
		<li style="text-align: left;">Inability to communicate in English</li>
		<li style="text-align: left;">Poor performance (Laziness or poor working experience)</li>
		<li style="text-align: left;">Dishonesty and theft</li>
		<li style="text-align: left;">Lack of proper personal hygiene</li>
		<li style="text-align: left;">Lack of common sense</li>
		<li style="text-align: left;">Homesickness</li>
		<li style="text-align: left;">Physically unhealthy</li>
	</ul>
	</td>
	</tr>
	</tbody>
	</table>
	
</div>
{% endblock %}
