* {
    box-sizing: border-box;
}
/*type of the box*/

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit] {
    background-color:#EC7063;
    color: white;
    padding: 8px 15px;
    border: 2px solid#EC7063;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}
/*outlook of the submit button*/

input[type=submit]:hover {
    background-color: white;
    color: #EC7063;
}

.container {
    border-radius: 4px;
    background-color: #EAECEE;
    padding: 25px;
	width:auto;
}
/*background outlook setting of the box*/

.leftcol {
    float: left;
    width: 15%;
    margin-top: 5px;
}
/*left colume outlook setting*/

.rightcol {
    float: left;
    width: 82%;
    margin-top: 5px;
}
/*right colume outlook setting*/

.row:after {
    content: "";
    display: table;
    clear: both;
}
/* clear floats after the columns */